<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Payroll System</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body style="font-family: Montserrat, sans-serif;">
  <nav class="navbar d-print-block navbar-dark navbar-expand-md sticky-top text-center navy" style="background-color: black;">
    <div class="container-fluid"><a class="navbar-brand text-light" href="#"><strong>PAYROLL SYSTEM</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
        <ul class="nav navbar-nav text-left ml-auto">
            <li class="nav-item" role="presentation">
              <a class="nav-link active" href="#">Welcome <%=  username.fullname %></a>
            </li>
            <li class="nav-item" role="presentation"><a class="nav-link" href="/">Logout</a></li>
        </ul>
      </div>
    </div>
  </nav>
<h1 style="background:aliceblue;margin-bottom:0px"> Generate Salary Report </h1>
<div class="row register-form" style="background:aliceblue">
    <div class="col-md-8 offset-md-2">
        <form method="post" class="custom-form" action="/report">
            <h3 class="text-center">To get this month salary report please input Attendance</h3>
            <div class="form-row form-group">
                <div class="col-sm-4 label-column"><label class="col-form-label" for="name-input-field">No of Days Worked</label></div>
                <div class="col-sm-6 input-column"><input name="Work" type="Number" class="form-control"  min="0" max="31" required /></div>
            </div>
            <input type="hidden" name="id" value= <%= username._id %> />
            <input class="btn btn-light submit-button" type="submit" value="Get Report"/>
          </form>
      </div>
  </div>
<%- include("partials/footer"); -%>
