<%- include("partials/header"); -%>
  <div class="container text-center d-block" style="background-color: WHITE;padding: 20px;">
    <h1 class="text-center">Choose your Role</h1>
    <div class="row" style="padding: 20px;">
      <div class="col-md-6 offset-md-0">
        <img class="img-fluid" src="assets/img/admin.jpg" style="width: 70%;height: 70%;">
        <a href="/adminlogin" class="btn btn-primary text-center d-block" type="button"
          style="margin-right: auto;margin-left: auto;width: 70%;margin-top: 30px;margin-bottom: 30px;">ADMIN</a>
        </div>
      <div class="col-md-6 offset-md-0">
        <img class="img-fluid" src="assets/img/employee.png" style="width: 70%;height: 70%;">
        <a href="/employeelogin" class="btn btn-primary text-center d-block" type="button"
          style="margin-right: auto;margin-left: auto;width: 70%;margin-top: 30px;margin-bottom: 30px;">EMPLOYEE
        </a>
      </div>
    </div>
  </div>
<%- include("partials/footer"); -%>
